@page
@model myStore.Pages.CustomersModel
@using myStore.Entities
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Customers List</h1>
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th>Customerid</th>
            <th>Name</th>
            <th>Address</th>
            <th>State</th>
            <th>Zipcode</th>
            <th>Phonecumber</th>
            <th>Country</th>
        </tr>
        @foreach (Customer cust in Model.Customers)
        {
            <tr>
                <td>@cust.Customerid</td>
                <td>@cust.Name</td>
                <td>@cust.Address</td>
                <td>@cust.State</td>
                <td>@cust.Zipcode</td>
                <td>@cust.Phonenumber</td>
                <td>@cust.Country</td>
            </tr>
        }

    </table>
</div>
